@import "tailwindcss";

html,
body {
  @apply bg-white h-full w-full p-0 m-0 flex flex-col items-center justify-center;
  /* background: url("./world.svg") no-repeat center center fixed;
  background-size: cover; */
}

#root {
  @apply w-full h-full;
}

/* @layer components {
  .bg-primary {
    @apply bg-[#FDFAF6];
  }
} */

@theme {
  --color-background-500: oklch(0.9863 0.0062 75.41);
  --color-foreground-500: oklch(0 0 0);
  --color-primary-500: oklch(0.4422 0.1021 254.51);
  --color-secondary-500: oklch(0.3358 0.0524 235.07);
  --color-accent-500: oklch(0.7645 0.1196 77.08);
}

.card {
  @apply bg-white/80 backdrop-blur-lg rounded-3xl border border-gray-200 hover:shadow-lg transition-all duration-300 ease-in-out;
}

.button {
  @apply bg-background-500 text-primary-500 font-medium py-1.5 px-4 rounded-3xl text-center text-xs;
}
